* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

:root {
  --animate-delay: 0.1s;
}

/* HEADER */


header {
     display: flex;
  align-items: center;
  justify-content: space-between;
     width: 100%;
     height: 5rem;
     padding: 0 1.25rem;
     background-color: #CBE5E8;
     
}


  .header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

/* center */

.header-center {
  flex: 1;
  justify-content: center;
}


/* right */

.header-right {
  gap: 1.25rem; 
}


 .header-a {display: flex;
  justify-content: center;}

  .Log {display: flex;
  justify-content: flex-start;}

  .svg-nav, .search {display: flex;
  justify-content: end;}

   .header-box-center {
  
    display: flex;
    flex-direction: row;
       align-items: center;
    justify-content:center;

  }

    .header-a {
      display: flex;
        color: black;
        font-size: 1.25rem;
       
        height: 3.75rem;
        width: 7.5rem;
        flex-direction: row;
        align-items:center ;
        justify-content:center;
        gap: 2.5rem;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;

}

svg {width: 1.875rem;
height: 1.875rem;}


.Log {display: flex;
  flex-direction: row;
align-items: center;
justify-content:flex-end;
padding: 0 6.25rem;
}

h1 {display: flex;
  width: 10rem;
  height: 3.75rem;

  flex-direction: row;
  align-items: center;
  padding: 0 1.25rem;
  font-size: 1.25rem;
}

.svg-nav {display: flex;
  flex-direction: row;
align-items: center;
justify-content:flex-end;
text-align: end;
padding: 0 3.75rem;}



.LogIn {display: flex;
  flex-direction: row;
align-items: center;
  font-size: 1.25rem;
padding: 0 0.625rem;
gap: 1.25rem;
color: black;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}

input {width: 10rem;
height: 2.5rem;
  border: none; 
border-bottom: 0.0625rem solid black;
   outline: none; 
  background: transparent;
   font-size: 1.25rem;
   transition: 0.1s;
}

.search-input:hover {
    background-color: #FFF1E7;}

h1 a {text-decoration: none;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: 40;
}




































/* FOOTER */

.footer-box {  display: flex;}

.footer-left-box {width: 50%;
  height: 37.5rem;
background-color:#FDFCF1;}

.footer-right-box {width: 50%;
  height: 37.5rem;
background-color: #FDFCF1;}


/* LEFT BOX */

.footer-left-box {display: flex;
flex-direction: column;
padding: 0 5rem;}

.footer-title-left-box {
  padding: 5rem 0;
  font-size: 3.125rem;
  font-weight: 100;
  font-family:Arial, Helvetica, sans-serif;
}

.footer-tel-left-box {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-mail-left-box {font-family: Arial, Helvetica, sans-serif;
font-size: 1 rem;
color: black;
text-decoration: none;
}

.text-box-address-footer {
width: 10.9375rem;}

.footer-address-left-box {font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;
padding: 3.125rem 0;}



















/* FOOTER RIGHT */

.footer-right-box {display: flex;
flex-direction: column;
align-items: self-end;
justify-content: center;
}

.footer-nav {display: flex;
flex-direction: column;
justify-content: center;
gap: 0.625rem;
width: 60%;
height: 18.75rem;
}


.footer-a {text-decoration: none;
color: black;
font-family: Arial, Helvetica, sans-serif;

}

.footer-powered-secured {
width: 35.9375rem;
height: 3.125rem;
font-family: Arial, Helvetica, sans-serif;}































/* MAiN */

/* HERO */


.hero-box {
width: 100%;
 min-height: 100vh;
display: flex;
 position: relative;
   overflow: hidden;
}

.video-hero video {display: flex;
     position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
}






/* left box */



.left-hero-box {display: flex;
  width: 70%;
height: 100%;
    position: relative;
    justify-content:flex-end;
   padding: 3.125rem;
}

.hero-left-h2 {display: flex;
  font-size: 4.375rem;
  padding: 3.125rem 0;
    margin-bottom: 1.25rem;
}

.box-in-left-hero-box { display: flex;
    position: relative;
    color: #283851; 
    padding: 0 3.125rem;
    background-color: #CBE5E8;
    flex-direction: column;
    width: 55%;
    height: 37.5rem;
}

.hero-text-left {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}


.Explore-Now {display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 10rem;
  border-radius: 1.875rem;
  height: 3.125rem;
  color: #CBE5E8;
background-color: #C24444;
 transition: 0.3s;}


.Explore-Now:hover {background-color: #ffffff;
  color: #C24444 ;
  border: 1px solid #C24444;
 }






/* right box */

.right-hero-box {display: flex;
  width: 30%;
height: 100%;
position: relative;
}










/* use code */

.use-code {display: flex;
  background-color: #FDFCF1;
  color: #90918f;
  width: 100%;
  height: 3.75rem;
align-items: center;
justify-content: end;
font-size: 1.25rem;
  overflow: hidden;
  gap: 3.75rem;
}

.use-code-animation1 {display: flex;
  
white-space: nowrap;
animation: use-code-animation1 10s linear infinite;}

.use-code-animation2 {display: flex;
  
white-space: nowrap;
animation: use-code-animation2 10s linear infinite;}

@keyframes use-code-animation1 {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}

@keyframes use-code-animation2 {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}








/* Healthy Treats for Dogs */


.box-Healthy-Treats-for-Dogs {display: flex;
background-color: #FFF1E7;
width: 100%;
flex-direction: column;
align-items: center;
}


.h-treats {display: flex;
  height: 9.375rem;
  align-items: end;
  font-size: 4.375rem;
}


.p-treats {display: flex;

   align-items: center;
   justify-content: center;
font-size: 1.25rem;

}

.text-treats {display: flex;
  flex-direction: column;
 padding: 1.25rem;

   align-items: center;
   justify-content: center;}



   .shop-box-menu {
    display: flex;
  width: 100%;
height: 31.25rem;

flex-direction: row;
gap: 0.625rem;
justify-content: center;
align-items: center;

font-size: 1.25rem;
text-decoration: none;
color: black;}


.a-box-menu {text-decoration: none;
color: black;}



.box0-menu,
 .box1-menu,
 .box2-menu,
 .box3-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 31.25rem;
  border: 1px solid gray;
}

.img-treats {width: 25rem;}


.Shop-Now {display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 10rem;
  border-radius: 1.875rem;
  height: 3.125rem;
  color: #CBE5E8;
background-color: #C24444;
 transition: 0.3s;}


.Shop-Now:hover {background-color: #ffffff;
  color: #C24444 ;
  border: 1px solid #C24444;
 }


.Shop-Now-box {display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12.5rem;}




















  /* our mission */



.box-about-our-mission {background-color:#CBE5E8;
  width: 100%;
height: 25rem;
display: flex;
}









/* left */


.about-our-mission-left {
width: 50%;
display: flex;
justify-content: center;
flex-direction: column;
padding: 3.125rem;
gap: 1.25rem;
font-family: Arial, Helvetica, sans-serif;
}

.h-about-our-mission-left1 {font-size: 4.375rem;
  width: 18.75rem;

}
.h-about-our-mission-left2 {font-size: 1.5rem;}











/* right */


.about-our-mission-right {
width: 50%;
display: flex;
justify-content: center;
flex-direction: column;
}


.about-our-mission-right-text {
width: 50%;
font-size: 1.25rem;}




.Learn-More {display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 10rem;
  border-radius: 1.875rem;
  height: 3.125rem;
  color: #CBE5E8;
background-color: #283851;
 transition: 0.3s;}


.Learn-More:hover {background-color: #ffffff;
  color: #283851;
  border: 1px solid #283851;
 }


.Learn-More-box {display: flex;
  padding: 1.875rem 0;
  height: 6.25rem;
}
















/* Why-Choose-Us */


.Why-Choose-Us {width: 100%;
background-color: #FDFCF1;
display: flex;
flex-direction: column;

}






.box-why-choose2 {display: flex;
  width: 100%;
height: 37.5rem;
 align-items: center;
justify-content: space-between;
flex-direction: row;
  gap: 1.25rem; 
  padding: 0 3.125rem;
font-size: 1.25rem;
text-decoration: none;
color: black;}

.choose-photo {width: 20.375rem;
height: 29.8125rem;
gap: 1.25rem;
  object-fit: cover;}

.text-choose1,
.text-choose2 {align-self:flex-start;
display: flex;
}

.why-choose-Quality, 
.why-choose-Variety,
.why-choose-Expertise { display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 20%;
  height: 37.5rem;
  padding: 1.25rem 2rem;
  }

  .text-choose1 {font-size: 2.5rem;}

  .text-choose2{font-size: 1.25rem;
  }



.box-why-choose1 {display: flex;
  width: 100%;
height: 200px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 50px;
align-items: end;
}

.h-why-choose {font-size: 4.375rem;
}


.Our-Advantages {font-size: 1.875rem;}





.why-choose-text {
width: 20rem;
display: flex;
flex-direction: column;
gap: 0.5rem;
margin-top: 2rem;
height: 30rem;}







/* SpecialOffer */


.SpecialOffer {display: flex;
width: 100%;
height: 30rem;
position: relative;
overflow: hidden;


justify-content: center;
align-items: center;



}

.videoSpecial {
  position: absolute;
  inset: 0;
  z-index: 1;
}


   .videoSpecial video {
  height: 100%;
width: 100%; 
  object-fit: cover;
   opacity: 0.3;

}
 
.special-text-box {
  position: relative;
  z-index: 2;


  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;

 
  color: rgb(0, 0, 0);

}

.text-h-offer {
  font-size: 3rem;
  font-weight: 700;
}

.text-1-offer {
  font-size: 1rem;

  
}

.text-2-offer {
  font-size: 1rem; 
   padding: 2rem;
   width: 34.5rem;

}











































/* Our Best Seller */




.Our-Best-Seller {
  background-color: #FFF1E7;
width: 100%;
height: 50rem;
}


.Our-Best-Seller-box1 {
height: 10rem;
width: 100%;
display: flex;
flex-direction: row;}



.Best-Seller-h {
  height: 80%;
  width: 40%;
  font-size: 5rem;
  display: flex; 
  padding: 0 4rem;
  align-items: center;

}


.Buy-Now {display: flex;

  width: 60% ;
  height: 80%;
align-items: center;
 justify-content: flex-end;
padding: 2rem;}



















.Our-Best-Seller-box2 {display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 1rem;
}



.seller-box-1 {width: 27rem;
  height: 35rem;
/* background-color: #ffffff; */
border:0.01rem solid #5a5a5a;}

.seller-box-2 {width: 27rem;
    height: 35rem;

border:0.01rem solid #5a5a5a;}

.seller-box-3 {width: 27rem;
    height: 35rem;

border:0.01rem solid #5a5a5a;}

.seller-box-4 {width: 27rem;
    height: 35rem;

border:0.01rem solid #5a5a5a;}


.seller-box-1 img {width: 27rem;
height: 30rem;}
.seller-box-2 img {width: 27rem;
height: 30rem;}
.seller-box-3 img {width: 27rem;
height: 30rem;}
.seller-box-4 img {width: 27rem;
height: 30rem;}


.text-p-seller {padding: 0 1rem;}







/* Contact-Us-box */


.Contact-Us-box {width: 100%;
height: 50rem;
background-color: rgb(182, 212, 212);

display: flex;
flex-direction: column;

}

/* up */
.box-up-contact {width: 100%;
  height: 25%;
display: flex;
justify-content: end;
align-items: center;
flex-direction: column;
text-align: center;}


.contact-h {font-size: 4.5rem;
padding: 1rem;}


.contact-text {font-size: 1.2rem;}




/* down */

.box-Message {
height:80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.box-down-contact {
width: 100%;
height: 75%;
display: flex;
justify-content: center;
align-items: center;}



.box-massage1 {
width: 100%;
height: 5rem;
display: flex;
flex-direction: row;
gap: 2rem;
}




/* first Name*/


.firstName-box {display: flex;
flex-direction: column;
}

.firstName-box input {width: 15rem;}

/* last Name */

.lastName-box {display: flex;
flex-direction: column;}

.lastName-box input {width: 15rem;}



/* email */



.email-box {display: flex;
width: 100%;
height: 6rem;
flex-direction: column;}


.email-box input {width: 32rem;
color: none;}

.box-text-message2{width: 100%;
height: 10rem;
}

textarea {  resize: none; 
  width: 100%;
  height: 10rem;
    border: none; 
    border-bottom: 1px solid black;
    background: none;
}


.send {display: flex;
  height: 5rem;
  width: 100%;
justify-content:start ;
align-items: end;
}




















/* LOG IN */


.Get-in-Touch {
  background-color: #CBE5E8;
width: 100%;
height: 55rem;
font-weight: 100;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


.box-img-and-contact  {display: flex;
width: 100%;
height: 80%;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 5rem;}

.box-img-and-contact img {display: flex;
justify-content: center;
align-items: center;}

.text-log-in {display: flex;
width: 100%;
height: 20%;
justify-content: center;
align-items: center;
text-align: center;flex-direction: column;
}

.text-touch {font-size: 1.2rem;
width: 50rem;
height: 4rem;
display: flex;
align-items: end;
justify-content: center;
}

.text-log-in h1 {font-size: 4rem;
display: flex;
align-items: end;
justify-content: center;
width: 30rem;}




.burger-class, .mobile-nav, #burger {display: none;}

























/* table */





@media (min-width: 1150px) and (max-width: 1400px) {
  
body  {
    font-size: 14px;
  }

 header {
    height: auto;
    padding: 0.75rem 1rem;
  }

.search-input {display: none;}

.video-hero {width: auto;}

.box-in-left-hero-box {width: 60rem;}


.box-why-choose2 {display: flex;
  padding: 0 8rem;}

  .seller-box-1, .seller-box-2, .seller-box-3, .seller-box-4 {width: 17rem;
  height: 23rem;}

  .seller-box-1 img {width: 18rem;
height: 20rem;}
.seller-box-2 img {width: 18rem;
height: 20rem;}
.seller-box-3 img {width: 18rem;
height: 20rem;}
.seller-box-4 img {width: 18rem;
height: 20rem;}

.Our-Best-Seller-box2 {height: 70% ;}
.Our-Best-Seller-box1 {height:  30%;}

}










@media (max-width: 1150px) {
  
body  {
    font-size: 14px;
  }

 header {
    height: auto;
    padding: 0.75rem 1rem;
  }

 .header-center {display: none;}


.header-right {width: 30rem;
height: 5rem;
background-color: #C24444;
}




.burger-class, .mobile-nav, #burger {display: flex;}














#burger {display: none;}




.mobile-nav {background-color: #C24444;
  width: 100%;
height: auto;

display: flex;
justify-content: center;
align-items: center;
flex-direction:  column;
gap: 5rem;
opacity: 0;
font-size: 2rem;
transform: translateY(-100%);
transition: transform 1s;
position: fixed;
z-index: 101;}

#burger:checked ~ .mobile-nav {
  opacity: 1;
  transform: translateY(0);
  inset: 0;
}


.mobile-nav ul {display: flex;
flex-direction: column;
gap: 1 rem;
list-style: none;}

.mobile-nav a {text-decoration: none;
color: #283851;
}





.burger-class {
  position: fixed;
  top: 1rem;
  right: 6rem ;
  z-index: 100;
}









.why-choose-Expertise, .why-choose-Quality, .why-choose-Variety {
  width: 30em;
 
height: 35rem;}



.why-choose-Quality img {width: 16rem;
height: 27rem;}
.why-choose-Variety img {width: 16rem;
height: 27rem;}
.why-choose-Expertise img {width: 16rem;
height: 27rem;}

.box-why-choose2 {display: flex;
justify-content: center;
align-items: center;
}


}














/* mobile */

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

header {
    height: auto;
    padding: 0.75rem 1rem;
  }


.Log {padding: 0;}

.svg-nav, .header-right, .video-hero video {display: none;}



.hero-box  {   background-image: url("https://static.wixstatic.com/media/11062b_b07b4c36aacc42aa86ce4bd9b8d3afd3f000.jpg/v1/fill/w_320,h_331,al_c,q_80,usm_0.33_1.00_0.00,enc_avif,quality_auto/11062b_b07b4c36aacc42aa86ce4bd9b8d3afd3f000.jpg");

  width: 100%;
  background-position: top;
  background-size: contain;
background-repeat: no-repeat;
background-color: #CBE5E8;
}


.right-hero-box {position: absolute;
width: 0%;}

.left-hero-box {width: 100%;
 margin-top: 20rem;}

.box-in-left-hero-box {display: flex;

text-align: center;
justify-content: center;
align-items: center;



height: 35rem;
width: auto;


  position: relative;}



.hero-left-h2 {font-size: 2.2rem;
  font-weight: 400;
width: 100%;
display: flex;
text-align: center;
height: 9rem;}

.hero-text-left {font-size: 1.3rem;
padding: 0;
width: 100%;

}






















.container-mobile {display: flex;
flex-direction: column-reverse;}





 /* About R. Moreau */
/* Our Mission  */



.box-about-our-mission {width: 100%;
height: 40rem;}

.box-about-our-mission {display: flex;
flex-direction: column;}

.h-about-our-mission-left1 {font-size: 2.3rem;
  padding: 0.5rem 0;
  margin-top: 4rem;
}

.h-about-our-mission-left2 {font-size: 1.5rem; 
  padding: 0;
width: 30rem;}

.about-our-mission-left, about-our-mission-right {width: 50%;
height: auto;}

.about-our-mission-right {display: flex;
  width: 100%;
  align-items: center;
justify-content: center;
}

.about-our-mission-right-text {width: 75%;
display: flex;
padding:  1rem 0rem;

}



/* <!-- Healthy Treats for Dogs --> */


.h-treats {font-size: 3.6rem;
display: flex;
text-align: center;
margin-top: 4rem;}

.p-treats {display: flex;
text-align: center;
font-size: 1.5rem;}

.box0-menu, .box1-menu, .box2-menu {display: none;}

.box3-menu {width: 80%;
height: 30rem;}















/* <!-- Why Choose Us? --> */


.Why-Choose-Us {width: 100%;
height: 120rem;
}

.box-why-choose2 {height: 90%;
  width: 100%;

display: flex;
flex-direction: column}

.box-why-choose1 {height: 10%;

display: flex;
flex-direction: column;
justify-content:center;
padding: 0 3rem;
align-items: start;}

.h-why-choose {font-size: 2.5rem;}

.Our-Advantages {font-size: 1.3rem;
margin-top: 3rem;}

.why-choose-text {
width: 18rem;
margin: 2rem;
}

.text-choose1 {display: flex;
padding: 0;
font-size: 1.7rem;
justify-content: start;
align-self:self-start;}

.text-choose2 {display: flex;
justify-content: start;
align-self: self-start;
font-size: 1.2rem;}



.why-choose-Quality img {width: 55%;
height: 30rem;
margin-top: 1rem;}

.why-choose-Variety img {width: 55%;
height: 30rem;}

.why-choose-Expertise img {width: 55%;
height: 30rem;}


.why-choose-Expertise p {left: 20rem;}






















/* <!-- Special Offer --> */



.text-h-offer {font-size: 2.5rem;
font-weight: 300;}





.text-2-offer {font-size: 1rem;
display: flex;
width: 20rem;}










/* <!-- Our Best Seller --> */






.Our-Best-Seller-box1 {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;

height: 15rem;


}

.Buy-Now {width: 100%;
display: flex;
justify-content: center;
height: 9rem;}

.Best-Seller-h  {font-size: 2.4rem;
margin-top: 2rem;
  height: 3rem;
  

width: 100%;
display: flex;
justify-content: center;}


.Our-Best-Seller-box2 {width: 100%;
height: 30rem;}


.seller-box-1, .seller-box-2, .seller-box-3 {display: none;}



.seller-box-4 {height: 33rem;
}



/* <!-- Contact-Us --> */


.contact-h {font-size: 3rem;}

.contact-text {font-size: 1.4rem;
width: 72%;
display: flex;
text-align: center;}

.name-1 input {width: 67%;}

.box-Message {display: flex;
justify-content: center;
width: 100%;}

.box-massage1 {display: flex;
  width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
}

.email-box input {width: 67%;
margin-left: 3.8rem;}

.email-box1 {display: flex;
  flex-direction: column;
  margin-left: 4rem;}

.box-text-message2 {width: 67%;}

.send {display: flex;
justify-content: center;
align-items: center;}

.Contact-Us-box {
height: 70rem;}

.box-Message {width:100%;
  height: 60rem;
  display: flex;
  gap: 4rem;}



.lastName-box {

  width: 100%;}









  .footer-box {display: flex;
  flex-direction: column;}

  .footer-left-box {width: 100%;
  height: auto;
  display: flex;
justify-content: start;
align-items: start;
padding: 0 2rem;
}

.footer-right-box {width: 100%;
height: auto;
display: flex;
justify-content: start;
align-items: start;
padding: 0 2rem;}

.footer-title-left-box {font-size: 2rem;
height: 1rem;
width: 10rem;
}

.footer-mail-left-box {font-size: 1rem;}

.footer-nav a {font-size: 1rem;}

.footer-powered-secured {width: 60%;
font-size: 1rem;
height: 10rem;
}




















/* Burger */




.mobile-nav  {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: start;
  padding: 2rem;
  text-align: center;
  align-items: center;
  background-color: #CBE5E8;
opacity: 0 ;
transform: translateY(-100%);}

.mobile-nav, ul {display: flex;
padding: 2rem;
  gap: 1rem;
font-size: 1.5rem;}

.mobile-nav, a {display: flex;
  gap: 1rem;
font-size: 1.3rem;}


#burger:checked ~ .mobile-nav {
  opacity: 1;
transform: translateY(0);
position: fixed;
inset: 0;
}


.burger-class {position: fixed;
z-index: 200;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 0.5rem;
width: 2.5rem;
height: 2rem;
/* overflow: hidden; */
position: fixed;
}




.burger-class span {width: 100%;
height: 0.3rem;
border-radius: 4px;
background-color: #283851;
transition: all 0.1s;}






#burger:checked ~ .burger-class .burger-line-1 {
  transform: rotate(45deg) translate(10px, 10px) ;
}

#burger:checked ~ .burger-class .burger-line-2 {
  transform: translateY(-100%);
  opacity: 0;}

#burger:checked ~ .burger-class .burger-line-3  {
  transform: rotate(-45deg) translate(10px, -8.5px) ;
}











}
  
 